@{


}


<div class="col-md-12">
	<h2>You're almost there!</h2>
	<div class="col-md-12">
		We have sent you the link to confirm your email address to complete the registration.
	</div>
	<div class="col-md-12">
		<a class="btn btn-primary" href="/home/index" >Login</a>
	</div>
</div>
<script>
	$(document).ready(function ()
	{
		$(".newPositionForm text-center").hide();
		$(".buttons_login").hide();
		$(".max-width_login").hide();
		$(".deskto_btn").hide();
	});
</script>
