@model ChatValues.Web.Models.User
@{
    
}
<style>
    nav.navbar.navbar-static-top {
        display: none;
    }

    .wide {
        width: 100%;
    }
</style>
<div class="bg_blue_light pull-left full_width">
    <div class="">
        <div class="padding_row">
            <div class="col-md-12">
                <div class="wizard_bg" style="margin-left: 25px;">
                    <div class="wizard">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                        {
                            <fieldset>
                                <legend>Forgot Password</legend>
                                <span>@ViewBag.Message</span>
                                <div class="row">
                                    <div class="col-md-1">
                                        @Html.LabelFor(m => m.Email)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "wide" })
                                    </div>
                                    <div class="col-md-6">
                                        <input type="submit" class="btn btn-primary next-step" value="Send">
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>