@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="col-md-12">
	<h2>Email Confirmation</h2>
	<div class="col-md-12">
		<div class="alert alert-danger">
			The Confirm Email link is expired or token is invalid. Please use link shared on your registered email address.
		</div>
	</div>


</div>
<script>
	$(document).ready(function ()
	{
		$(".newPositionForm text-center").hide();
		$(".buttons_login").hide();
		$(".max-width_login").hide();
		$(".deskto_btn").hide();
	});
</script>